@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap");

:root {
  scroll-behavior: smooth;
}
/* -------------------------------General */
body {
  font-family: "Roboto Condensed", sans-serif;
}
.grid-container {
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
  padding: 60px 0;
}
/* -------------------------------------Header */
header {
  height: 70vh;
  background-image: linear-gradient(
      to right,
      rgba(134, 143, 150, 0.5) 0%,
      rgba(89, 97, 100, 0.5) 100%
    ),
    url(../assets/img/hero-profile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.header-title h1 {
  margin: 0;
  padding: 23px;
  color: rgba(41, 50, 60, 0.795);
  font-family: "Pacifico", cursive;
}
.contenedor-head {
  text-align: center;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgba(253, 249, 249, 0.856);
  font-family: "Pacifico", cursive;
}
.titulo {
  font-size: 60px;
  margin-bottom: 15px;
}

.copy {
  font-weight: 300;
  font-size: 25px;
}
/* ---------------------------------------Main */
main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.perfil-photo {
  grid-column: 1;
  text-align: center;
}
.perfil-photo figure img {
  width: 100%;
  border-radius: 20%;
  margin: 0;
}
.perfil-text {
  grid-column: 2/ 4;
  display: flex;
  align-content: center;
  text-align: justify;
  flex-direction: column;
  padding: 15%;
}
.perfil-text h2 {
  font-family: "MuseoModerno", cursive;
}
