@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap");

:root {
  scroll-behavior: smooth;
}
/* -------------------------------General */
body {
  font-family: "Roboto Condensed", sans-serif;
}
.grid-container {
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
  padding: 60px 0;
}
/* -------------------------------------Header */
header {
  height: 70vh;
  background-image: linear-gradient(
      to right,
      rgba(233, 222, 250, 0.418) 0%,
      rgba(251, 252, 219, 0.548) 100%
    ),
    url(../assets/img/hero-proyect.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.header-title h1 {
  margin: 0;
  padding: 23px;
  color: #fffffff5;
  font-family: "Pacifico", cursive;
}
.contenedor-head {
  text-align: center;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #7c7777;
  font-family: "Pacifico", cursive;
}
.titulo {
  font-size: 60px;
  margin-bottom: 15px;
}

.copy {
  font-weight: 300;
  font-size: 25px;
}
/* ---------------------------------------Main */

/* ------------------------Boton */
.proyects-button {
  display: flex;
  justify-content: center;
  border: 1px solid #7c7777;
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  color: rgb(41, 50, 60);
  font-family: "Pacifico", cursive;
}
.proyects-button:hover {
  background-color: #7c7777;
  color: #fff5f5;
}
/* ------------------------------Proyects */
.proyects-posts-container {
  padding: 0 50px 40px;
}
.proyects-posts-container h3 {
  border-bottom: 1px solid #cdd2da;
  padding-bottom: 20px;
  text-align: center;
  font-family: "MuseoModerno", cursive;
}
.proyects-posts-container .proyect-container {
  display: inline-block;
  padding-left: 10px;
  max-width: 30%;
  margin-bottom: 50px;
}
.proyects-posts-container .proyect-container p {
  margin-bottom: 35px;
  text-align: justify;
}
.proyects-posts-container .proyect-container img {
  width: 100%;
  border-radius: 10px;
}
